GOLDEN_BOT_NAME=Golden Bot
GOLDEN_BOT_ENV=testnet
GOLDEN_BOT_MARKET=futures
GOLDEN_BOT_DRY_RUN=true
GOLDEN_BOT_EXCHANGE=binance
GOLDEN_BOT_API_KEY_SECRET=BINANCE_API_KEY
GOLDEN_BOT_API_SECRET_SECRET=BINANCE_API_SECRET
GOLDEN_BOT_RATE_LIMIT=10.0
GOLDEN_BOT_MAX_LOSS_USD=100.0
GOLDEN_BOT_MAX_LOSS_PER_TRADE_USD=10.0
GOLDEN_BOT_RISK_PER_TRADE_PCT=1.0
GOLDEN_BOT_MAX_PARALLEL_TRADES=3
GOLDEN_BOT_LEVERAGE=5
GOLDEN_BOT_DEFAULT_TIMEFRAME=15m
GOLDEN_BOT_WATCHLIST=BTCUSDT,ETHUSDT,SOLUSDT
GOLDEN_BOT_WEB_PORT=8080
GOLDEN_BOT_AUDIT_KEY=change_this_to_32_char_random_string!!
GOLDEN_BOT_ENCRYPTION_KEY=change_this_to_32_char_fernet_key!!
GOLDEN_BOT_SECRET_SOURCE=env
GOLDEN_BOT_IP_WHITELIST_ENABLED=false
